@charset "UTF-8";

body {
	color: white;
	heght: 100%;
	background-image: url(/WebApp/pages/styles/images/main_page_bg.png);
	background-size: cover;
}

a {
	color: white;
	font-weight: 300;
	text-decoration: none;
}

a:hover {
	color: pink;
}

div {
	width: 500px;
	margin: 0 auto;
	text-align: center;
}